

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: url(hello.jpg) no-repeat;
    background-size: cover;
}

.container {
    border: 1px solid #ccc;
    width: 100%;
    max-width: 600px;
    padding: 40px;
    text-align: center;
    background: rgba(0, 0, 0, 0.85);
    border-radius: 10px;
    box-shadow: 5px 10px 26px rgba(255, 255, 255, 0.6);
    animation: scaleIn 0.8s ease forwards;
    transform: scale(0.4);
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #fff;
    transition: opacity 1s ease;
}

.subtext {
    font-size: 1.1rem;
    color: #ccc;
    margin-bottom: 20px;
    transition: opacity 1s ease;
}

.buttons {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-top: 20px;
    cursor: pointer;
}

.btn {
    padding: 12px 30px;
    text-decoration: none;
    color: #000;
    background: #f1f1f1;
    border: 1px solid #f1f1f1;
    border-radius: 50px;
    font-weight: bold;
    font-size: 1rem;
    transition: all 0.4s ease;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.btn:hover {
    background-color: #000;
    color: #ffffff;
    border-color: #666666;
    cursor: pointer;
}

@keyframes scaleIn {
    to {
        transform: scale(1);
    }
}

@media (max-width: 600px) {
    .container {
        padding: 20px;
    }

    h1 {
        font-size: 1.8rem;
    }

    .subtext {
        font-size: 1rem;
    }

    .btn {
        padding: 10px 20px;
        font-size: 0.9rem;
    }
}
