
body {
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
}

.sidebar {
    width: 0;
    color: #060764;
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: width 0.2s;
    font-size: 16px;
    padding: 0;
}

.open {
    border-right: white 2px solid;
    border-bottom: white 2px solid;
    border-bottom-right-radius: 5px ;
    width: 220px;
    /* height: 100vh; */
    /* padding-top: 11px; */
    padding: 11px;
    position: fixed;
}
.containerTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sidebarbtn {
    /* top: 10; */
    right: 0;
    /* position: absolute; */
    margin-left: auto;
    width: 90px;
    height: 40px;
    background-color: #000;
    color: #fff;
    border: 1px solid #fff;
    cursor: pointer;
}

header {
    text-align: center;
    background: linear-gradient(to bottom right, #060764, #2e2e2e);
    color: #F0FFFF;
    height: 55vh;
}
.user {
    /* display: flex; */
    align-items: center;
    align-content: center;
}
.user h1,h2 {
    display: flex;
    margin-left: 5px;
}
.user img {
    margin-top: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}
.post_content {
    justify-content: space-evenly;
    padding: 1%;
}

.react {
    height: 30px;
    width: 50px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    margin: 1px;
}
.jj {
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    color: rgb(0, 0, 0);
}

#title {
    resize: none;
    height: 100px;
    width: 300px;
}

.creation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 10px;
    color: rgb(220, 239, 245);
}

.filter {
    font-size: 17px;
    color: rgb(220, 239, 245);
}

.temp {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.oo {
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.user_info img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.user_info {
    display: flex;
    align-items: center;
}

.bb {
    flex-direction: column;
    justify-content: space-between;
}

.postcreation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1%;
}

.body-container {
    border: 1px solid black;
    padding: 10px 10px 10px 10px;
    margin-right: 4%;
}

.postcontainer {
    border: solid 2px black;
    border-radius: 10px;
    background-color: rgb(241, 241, 241);
    padding: 2%;
    margin: 5px;
}

.comment_container {

    width: 100%;
    align-items: center;
    margin-right: 4%;
    justify-content: space-between;
    flex-direction: column;
}

.comment_container textarea {
    height: 40px;
    width: 350px;
    border: solid 1px black;
}

.href {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 15px;
    color: blue;
    text-decoration: underline;
}

.one_comment {
    color: #F0FFFF;
    background-color: rgb(0, 0, 0);
    border: solid 2px rgb(255, 255, 255);
    border-radius: 10px;
    width: 100%;
    justify-content: space-between;
    padding: 7px;
}

.one_comment img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.bttn {
    padding: 12px 30px;
    color: #000;
    background: #f1f1f1;
    border-radius: 50px;
    font-weight: bold;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid #000;
    box-shadow: #6e6c6c 1px 1px 1px 1px;
}

.logout {
    position: relative;
    /* top: 42px; */
    /* right: 0; */
    left: 80%;
    /* margin-right: 10px; */
}

.bttn a {
    text-decoration: none;
    color: black
}

.bttn a:hover {
    text-decoration: none;
    color: white;
}

.bttn:hover {
    background-color: #000;
    color: #ffffff;
    border-color: #ffffff;
}

.footer {
    /* background-color: rgb(0, 5, 77); */
    background: linear-gradient(to bottom right, #060764, #2e2e2e);
    color: #F0FFFF;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    /* bottom: 0; */
    /* width: 100%; */
}