body {
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
}

.corner {
    position: fixed;
    top: 0%;
    right: 0%;
}

.sidebar {
    top: 0;
    left: 0;
    position: fixed;
    overflow-x: hidden;
    width: 0;
}

.open {
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    border-right: rgb(0, 0, 0) 2px solid;
    border-bottom: rgb(0, 0, 0) 2px solid;
    border-top: rgb(0, 0, 0) 2px solid;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    width: 220px;
    height: 100%;
    padding: 11px;
    position: fixed;
    transition: width 0.2s;
    z-index: 1000;
    filter: blur(0px);
}

.containerTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebarbtn {
    right: 0;
    margin-left: auto;
    width: 90px;
    height: 40px;
    background-color: #000;
    color: #fff;
    border: 1px solid #fff;
    cursor: pointer;
}

header {
    position: relative;
    /* display: grid; */
    /* box-sizing: border-box; */
    /* overflow-y: hidden; */
    text-align: center;
    background: linear-gradient(to bottom right, #060764, #2e2e2e);
    color: #F0FFFF;
    height: 100%;
}

.user {
    align-items: center;
    align-content: center;
}

.img-container {
    justify-items: center;
}

.user img {
    margin-top: 10px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 10px;
}

.post_content {
    justify-content: space-evenly;
    padding: 1%;
}

.react {
    height: 30px;
    width: 50px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    margin: 1px;
}

.jj {
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    color: rgb(0, 0, 0);
}

#title {
    resize: none;
    height: 100px;
    width: 300px;
}

.creation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 10px;
    color: rgb(220, 239, 245);
}

.filter {
    font-size: 17px;
    color: rgb(220, 239, 245);
}

.temp {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.oo {
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.user_info img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.user_info {
    display: flex;
    align-items: center;
}

.bb {
    flex-direction: column;
    justify-content: space-between;
}

.postcreation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1%;
}

.body-container {
    border: 1px solid black;
    padding: 10px 10px 10px 10px;
    margin-right: 4%;
}

.postcontainer {
    /* overflow: auto; */
    border: solid 2px black;
    border-radius: 10px;
    background-color: rgb(241, 241, 241);
    padding: 2%;
    margin: 1% 20% 1% 20%;
}

.postcontainer img {
    max-width: 100%;
    height: auto;
    display: block;
}

.comment_container {
    width: 100%;
    align-items: center;
    margin-right: 4%;
    justify-content: space-between;
    flex-direction: column;
}

.comment_container textarea {
    /* height: 100%; */
    width: 100%;
    border: solid 1px black;
}

.href {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 15px;
    color: blue;
    text-decoration: underline;
}

.one_comment {
    color: #F0FFFF;
    background-color: rgb(0, 0, 0);
    border: solid 2px rgb(255, 255, 255);
    border-radius: 10px;
    /* width: 100%; */
    justify-content: space-between;
    padding: 7px;
}

.one_comment img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.bttn {
    padding: 12px 30px;
    color: #000;
    background: #f1f1f1;
    border-radius: 50px;
    font-weight: bold;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid #000;
    box-shadow: #6e6c6c 1px 1px 1px 1px;
}

.logout {
    position: relative;
    left: 80%;
}

.bttn a {
    text-decoration: none;
    color: black
}

.bttn a:hover {
    text-decoration: none;
    color: white;
}

.bttn:hover {
    background-color: #000;
    color: #ffffff;
    border-color: #ffffff;
}

footer {
    background: linear-gradient(to bottom right, #060764, #2e2e2e);
    color: #F0FFFF;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    /* position: absolute; */
}

@media (max-width: 768px) {
    .sidebar {
        width: 0;
    }

    .open {
        width: 40%;
        padding: 10px;
        font-size: 11px;
    }

    header {
        margin-left: 0;
        padding-bottom: auto;
        height: 100%;
    }

    header h1 {
        font-size: 20px;
    }

    header img {
        width: 90px;
        height: 50px;
    }

    .content {
        margin-left: 0;
    }
}

@media (max-width: 480px) {
    header {
        position: relative;
        /* height: 100%; */
    }

    .sidebar {
        font-size: 12px;
    }

    .open {
        padding: 7px;
    }

    .sidebarbtn {
        width: 70px;
        height: 25px;
        font-size: 10px;
    }

    .comment_container textarea {
        height: 20px;
        width: 220;
        border: solid 1px black;
    }

    .postcontainer textarea {
        height: 100px;
        width: 100%;
        border: solid 1px black;
    }

    .user_info h2 {
        font-size: 20px;
    }

    .user_info img {
        height: 30px;
        width: 30px;
    }

    .one_comment {
        position: relative;
        width: auto;
    }
}