<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum</title>
    <link rel="icon" type="image/png" sizes="40x40" href="/style/icon.png.png">
    <link rel="stylesheet" href="../style/PostPage.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <noscript>
        <strong style="color: red;">We're sorry but this website doesn't work properly without JavaScript</strong>
    </noscript>
    <header>
        <div class="user">
            <img src="/style/programmer.png" alt="{{.Currenuser}}">
            <h2><strong>User Name :</strong> {{.Currenuser}}</h2>
            <h2><strong>User ID :</strong> {{.Curr_id}}</h2>
        </div>
        <div class="corner">
            <button class="sidebarbtn" onclick="toggleSidebar()">☰
                FILTER</button>
            <form action="/logout" method="post">
                <button type="submit" class="sidebarbtn">
                    <i class="glyphicon glyphicon-log-out"></i>
                    Log Out</button>
            </form>
        </div>
        <div class="zone01">
            <img src="/style/zone01oujda.png" alt="zone01oujda">
            <h1><strong>Welcome To Forum </strong></h1>
        </div>
        <div>
            <a href="/create_post?postid={{.Post_id}}&user={{.Currenuser}}"><button class="bttn" id="Create"> <i
                        class="material-icons"></i>
                    Create Post </button></a>
        </div>

    </header>
    <div id="temp">
        <div class="sidebar" id="sidebar">
            <form action="/forum" method="get">
                <div>
                    <li>Choose categories:</li>
                    <br>
                    <input type="radio" name="categories" id="all" value="all">
                    <label for="all">All</label>
                    <br>
                    <input type="radio" name="categories" id="sport" value="sport">
                    <label for="sport">Sport</label>
                    <br>
                    <input type="radio" name="categories" id="politic" value="politic">
                    <label for="politic">Politic</label>
                    <br>
                    <input type="radio" name="categories" id="enteairtement" value="enteairtement">
                    <label for="enteairtement">Enteairtement</label>
                    <br>
                    <input type="radio" name="categories" id="economie" value="economie">
                    <label for="economie">Economie</label>
                    <br>
                    <input type="radio" name="categories" id="it" value="it">
                    <label for="it">IT</label>
                    <br>
                    <input type="radio" name="categories" id="myposts" value="myposts">
                    <label for="myposts">My Own Posts</label>
                    <br>
                    <input type="radio" name="categories" id="likedposts" value="likedposts">
                    <label for="likedposts">The Posts That I Liked</label>
                    <br>
                    <button type="submit" class="bttn" id="filter">Filter</button>
                </div>
        </div>
        </form>
    </div>
    <!-- <h2 style="text-align: center;"><strong>Check the Newest Of your FEED!</strong></h2> -->
    {{if not .Posts}}
    <h1>No Posts Available!</h1>
    {{end}}
    {{range .Posts}}
    <div class="postcontainer">
        <div class="user_info">
            <img src="/style/programmer.png" alt="{{.Usernamepublished}}">
            <h2>{{.Usernamepublished}}</h2>
        </div>
        <span id="temps">{{.Time}}</span> ago
        <h1>Title: {{.Title}}</h1>
        <p> content : {{.Body}}</p>
        {{if .Image}}
        <div class="img-container">
            <img src="data:image/png;base64,{{.Image}}" alt="image">
        </div>
        {{end}}
        <div class="reactions-container">
            <input id="postidValue" type="hidden" name="postid" value="{{.Postid}}">
            <form id="like_post"
                action="/PostsLikes?Liked_Post_id={{.Postid}}&user_id={{.CurrentUser_id}}&user={{.CurrentUsser}}"
                method="post">
                <button type="submit" class="react" name="reaction" value="like">
                    <i class="fa fa-thumbs-o-up">
                    </i>
                    {{.LikesCounter}}</button>

            </form>
            <form id="dislike_post"
                action="/PostsDislikes?Disliked_Post_id={{.Postid}}&user_id={{.CurrentUser_id}}&user={{.CurrentUsser}}"
                method="post">
                <button type="submit" class="react" name="reaction" value="dislike"><i class="fa fa-thumbs-o-down"></i>
                    {{.DislikeCounter}}</button>

            </form>
        </div>
        <div class="comment_container">
            <form action="/create_comment?postid={{.Postid}}&writer={{.CurrentUsser}}" method="post">
                <br>
                <div class="bb">
                    <textarea name="comments" id="comments" placeholder="Add your comments..."></textarea>
                    <br>
                    <button type="submit" class="bttn" id="comment">Comment</button>
                </div>
            </form>
            <br>
        </div>
        <form action="/showcomments" method="get" class="jj">
            <input type="hidden" value="{{.Postid}}" name="postid">
            <input type="hidden" value="{{.CurrentUsser}}" name="writer">

            <button type="submit" class="href">See All Comments()</button>
        </form>
    </div>
    {{end}}
    <footer class="footer">
        <p>&copy; 2023 Your Website. All rights reserved.</p>
        <p>
            Github :
        </p>
        <div class="href">
            <a href="https://github.com/aouchcha">Achraf Ouchchat</a> |
            <a href="https://github.com/ItCHIRO29">Ismail ICHI</a>
            | <a href="https://github.com/hadogen/">Yahya Houssaini</a>
        </div>
    </footer>
</body>
<script>
    function toggleSidebar() {
        const sidebar = document.getElementById('sidebar');
        if (sidebar.classList.contains('open')) {
            sidebar.classList.remove('open');
            console.log("sidebar closed")
        } else {
            sidebar.classList.add('open');
            console.log("sidebar opened")
        }
        // sidebar.classList.add('sidebar');
    }
    const comment = document.getElementsByClassName("bttn")
    const reactions = document.getElementsByClassName("react")
    const create = document.getElementById("Create")
    function getCookie(cname) {
        let name = cname + "=";
        let decodedCookie = decodeURIComponent(document.cookie);
        let ca = decodedCookie.split(';');
        for (let i = 0; i < ca.length; i++) {
            let c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }
    let username = getCookie("guest_token");
    console.log(username);

    if (username == "guest") {
        create.disabled = true
        for (let cm of comment) {
            // console.log(cm)
            cm.disabled = true
        }
        for (let rea of reactions) {
            rea.disabled = true
        }
    }

    const times = document.querySelectorAll('#temps')
    times.forEach(ele => ele.innerHTML = timeAffi(ele.textContent));
    function timeAffi(time) {
        let now = new Date()
        let then = new Date(time)
        let min = ((now - then) / (1000 * 60)).toFixed()
        let hours = ((now - then) / (1000 * 3600)).toFixed()
        let days = ((now - then) / (1000 * 3600 * 24)).toFixed()
        if (min < 60) {
            return min + " minutes"
        } else if (hours < 24) {
            return hours + " hours"
        } else {
            return days + " day"
        }
    }
    const CreateButton = document.getElementById('Create')
    const HiddenDiv = document.getElementById('temp')

    const commentForms = document.querySelectorAll(".comment_container form")
    commentForms.forEach(cForm => {
        cForm.addEventListener("submit", (e) => {
            e.preventDefault()
            const path = e.currentTarget.getAttribute("action")
            const formData = new FormData(e.currentTarget)
            fetch(path, {
                method: "post",
                body: formData
            })
            e.currentTarget.querySelector("textarea").value = ""
            const div = document.createElement("div")
            div.innerHTML = `<div style="color:green;"><p>Comment Added Succesfully!</p></div>`
            cForm.appendChild(div)
            setTimeout(() => {
                div.remove()
            }, 2000)
        })
    })





    const Forms = document.querySelectorAll(".reactions-container form");
    Forms.forEach(Form => {
        Form.addEventListener("submit", async (e) => {
            e.preventDefault();

            const button = e.currentTarget.querySelector('button');
            const choice = e.currentTarget.getAttribute('id')
            let TheOtherButton = ""
            if (choice == "like_post") {
                TheOtherButton = (e.currentTarget.parentElement.querySelector('#dislike_post').querySelector('button'))
                // console.log("TheOtherButton1", TheOtherButton)
                // let thumbs = TheOtherButton.querySelector('i')
                // console.log("TheOtherButton ====>", thumbs)
            } else {
                TheOtherButton = (e.currentTarget.parentElement.querySelector('#like_post').querySelector('button'))
                // console.log("TheOtherButton2", TheOtherButton)
                // let thumbs = TheOtherButton.querySelector('i')
                // console.log("TheOtherButton ====>", thumbs)
            }


            if (!button) {
                console.error("Button not found");
                return;
            }

            let path1 = e.currentTarget.getAttribute('action');

            let icon = "👍🏻"
            let icon2 = "👎🏻"
            // console.log("icon2", icon2)
            let previouslike = button.textContent
            console.log("previouslike outside ===>", previouslike)
            const postid = e.currentTarget.parentElement.querySelector('input').value;

            try {
                await fetch(path1, {
                    method: "POST",
                });

                const path = `/api/likes?postid=${postid}`;

                const response = await getdata(path);
                const likeCount = response.LikeCount;
                const DislikeCount = response.DislikeCount;

                if (choice == "like_post") {
                    button.textContent = icon + " " + likeCount;
                    TheOtherButton.textContent = icon2 + " " + DislikeCount
                    button.style.backgroundColor = "green"
                    // if (previouslike == previouslike - 1) {
                    //     console.log("previouslike", previouslike)
                    //     TheOtherButton.style.backgroundColor = ""
                    // }
                    TheOtherButton.style.backgroundColor = ""
                } else if (choice == "dislike_post") {
                    button.textContent = icon2 + " " + DislikeCount;
                    TheOtherButton.textContent = icon + " " + likeCount
                    button.style.backgroundColor = "red"
                    TheOtherButton.style.backgroundColor = ""
                }
            } catch (err) {
                console.error("Error processing like:", err);
            }
        });
    });

    async function getdata(path) {
        try {
            const res = await fetch(path);
            if (!res.ok) {
                throw new Error(res.statusText);
            }
            const json = await res.json();
            if (json.error) {
                throw new Error(json.error);
            }
            console.log(json);
            return json;
        } catch (error) {
            console.error("Fetch error:", error);
            throw error;
        }
    }


</script>

</html>