<!DOCTYPE html>
<html lang="en">

<head>
    <noscript>
        <strong style="color: red;">
            You Disable JS please refreach the page to continue.
        </strong>
        <meta http-equiv="refresh" content="5; url=/NoJs">
    </noscript>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum</title>
    <link rel="icon" type="image/png" sizes="40x40" href="/style/icon.png.png">
    <link rel="stylesheet" href="../style/PostPage.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="module" src="../style/js/forum.js"></script>
</head>

<body>
    <header>
        <div class="user">
            <h2><strong>Mr</strong> {{.Currenuser}}</h2>
            <img src="/style/programmer.png" alt="{{.Currenuser}}">
            <!-- <h3><strong>User ID :</strong> {{.Curr_id}}</h3> -->
            <form action="/logout" method="post" id="logout">
                <button type="submit" class="sidebarbtn">
                    <i class="glyphicon glyphicon-log-out"></i>
                    Log Out</button>
            </form>
        </div>
        <br>
        <div class="corner">
            <button class="sidebarbtn" id=filter_butt>☰
                FILTER</button>
        </div>
        <div class="zone01">
            <!-- <img src="/style/zone01oujda.png" alt="zone01oujda"> -->
            <h1><strong>Welcome To Forum </strong></h1>
        </div>
        <div>
            <a href="/create_post?postid={{.Post_id}}&user={{.Currenuser}}"><button class="bttn" id="Create"> <i
                        class="material-icons"></i>
                    Create Post </button></a>
        </div>

    </header>
    <div id="temp">
        <div class="sidebar" id="sidebar">
            <form action="/forum" method="get">
                <div>
                    <li>Choose categories:</li>
                    <br>
                    <input type="radio" name="categories" id="all" value="all">
                    <label for="all">All</label>
                    <br>
                    <input type="radio" name="categories" id="sport" value="sport">
                    <label for="sport">Sport</label>
                    <br>
                    <input type="radio" name="categories" id="politic" value="politic">
                    <label for="politic">Politic</label>
                    <br>
                    <input type="radio" name="categories" id="enteairtement" value="enteairtement">
                    <label for="enteairtement">Enteairtement</label>
                    <br>
                    <input type="radio" name="categories" id="economie" value="economie">
                    <label for="economie">Economie</label>
                    <br>
                    <input type="radio" name="categories" id="it" value="it">
                    <label for="it">IT</label>
                    <br>
                    <div class="mbappe">
                        <input type="radio" name="categories" id="myposts" value="myposts">
                        <label for="myposts">My Own Posts</label>
                        <br>
                        <input type="radio" name="categories" id="likedposts" value="likedposts">
                        <label for="likedposts">The Posts That I Liked</label>
                        <br>
                    </div>
                    <button type="submit" class="" id="filter">Filter</button>
                </div>
        </div>
        </form>
    </div>
    {{if not .Posts}}
    <h1>No Posts Available!</h1>
    {{end}}
    {{range .Posts}}
    <div class="postcontainer">
        <div class="user_info">
            <img src="/style/programmer.png" alt="{{.Usernamepublished}}">
            <h2>{{.Usernamepublished}}</h2>
        </div>
        <span id="temps">{{.Time}}</span> ago
        <h1>Title: {{.Title}}</h1>
        <p> content : {{.Body}}</p>
        <div class="reactions-container">
            <form id="like_post"
                action="/PostsLikes?Liked_Post_id={{.Postid}}&user_id={{.CurrentUser_id}}&user={{.CurrentUsser}}"
                method="post">
                <button type="submit" class="react" name="reaction" value="like">
                    <i class="fa fa-thumbs-o-up">
                    </i>
                    {{.LikesCounter}}</button>

            </form>
            <form id="dislike_post"
                action="/PostsDislikes?Disliked_Post_id={{.Postid}}&user_id={{.CurrentUser_id}}&user={{.CurrentUsser}}"
                method="post">
                <button type="submit" class="react" name="reaction" value="dislike"><i class="fa fa-thumbs-o-down"></i>
                    {{.DislikeCounter}}</button>

            </form>
        </div>
        <div class="comment_container">
            <form action="/create_comment?postid={{.Postid}}&writer={{.CurrentUsser}}" method="post">
                <br>
                <div class="bb">
                    <textarea name="comments" id="comments" placeholder="Add your comments..." maxlength="1000"></textarea>
                    <br>
                    <button type="submit" class="bttn" id="comment">Comment</button>
                </div>
            </form>
            <br>
        </div>
        <form action="/showcomments?post_id={{.Postid}}&writer={{.CurrentUsser}}" method="post" class="jj">
            <button type="submit" class="href">See All Comments({{.CommentsLength}})</button>
        </form>
    </div>
    {{end}}
    <div class="pagination">
        <button type="submit">prev</button>
        <button type="submit">next</button>
    </div>
    <footer class="footer">
        <p>&copy; 2023 Your Website. All rights reserved.</p>
        <p>
            Github :
        </p>
        <div class="href">
            <a href="https://github.com/aouchcha">Achraf Ouchchat</a> |
            <a href="https://github.com/ItCHIRO29">Ismail ICHI</a>
            | <a href="https://github.com/hadogen/">Yahya Houssaini</a>
            | <a href="https://github.com/maynaou">Mouhssine Aynaou</a>
        </div>
    </footer>
</body>
<script type="module">
    import { toggleSidebar, getCookie, timeAffi, FetchComments, FetchReactions } from '../style/js/forum.js';

    const commentButtons = document.getElementsByClassName("bttn");
    const reactions = document.getElementsByClassName("react");
    const createButton = document.getElementById("Create");
    const logoutform = document.querySelector('.user form button')
    //side bar settings
    const sidebar = document.getElementById('sidebar');
    const filter_butt = document.getElementById('filter_butt')
    filter_butt.addEventListener('click', () => toggleSidebar(sidebar))
    
    const username = getCookie("session_token");

    if (username === 'guest') {
        for (const button of commentButtons) {
            button.disabled = true;
        }
        for (const reaction of reactions) {
            reaction.disabled = true;
        }
        createButton.disabled = true;
        logoutform.innerHTML = "Sign In"
        let sideContent = sidebar.querySelector('form').querySelector('div').querySelector('.mbappe')
        sideContent.remove()
    }

    // Format time elements
    const times = document.querySelectorAll('#temps');
    times.forEach(ele => ele.innerHTML = timeAffi(ele.textContent));

    // Fetch Comments Data
    const commentForms = document.querySelectorAll(".comment_container form");
    FetchComments(commentForms);

    // Fetch reactions to prevent refresh
    const reactionForms = document.querySelectorAll(".reactions-container form");
    FetchReactions(reactionForms);

</script>



</html>