<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/login.css">
    <title>Login</title>
</head>

<body>
    <form action="/login" method="post">
        <div class="login-container">
            <h1>Welcome Back</h1>
            {{ if not .Exist}}
            <p style="color: tomato;">Incorrect password/username</p>
            {{end}}
            <img src="../style/programmer.png" alt="Profile" class="profile-img">
            <div class="input-group">
                <input type="text" name="username" placeholder="Username" required>
            </div>
            <div class="input-group">
                <input type="password" name="password" placeholder="Password" required>
            </div>
            <button class="btn" type="submit">Sign In</button>
            <button class="btn" type="button" onclick="window.location.href='/';">Back to Home</button>
        </div>
    </form>
</body>

</html>