<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/login.css">
    <link rel="icon" type="image/png" sizes="40x40" href="/style/programmer.png">
    <title>Login</title>
</head>

<body>

    <div class="login-container" id="login-container">
        <form action="/login" method="post">
            <noscript>
                <h1 style="color: red;"><strong>You Need Js to use the plateform!</strong></h1>
            </noscript>
            <h1>Welcome Back</h1>
            <img src="../style/programmer.png" alt="Profile" class="profile-img">
            <div class="input-group">
                <input type="text" name="username" placeholder="Username" autocomplete="off" maxlength="20" required>
            </div>
            <div class="input-group">
                <input type="password" name="password" placeholder="Password" autocomplete="off" maxlength="20" required>
            </div>
            <button class="btn btn-login" type="submit">Sign In</button>
        </form>
        <button class="btn btn-login" type="button" onclick="window.location.href='/register';">Sign Up</button>
        <button class="btn btn-login" type="button" onclick="window.location.href='/guest';">Continue as
            Guest</button>
        <button class="btn btn-home" type="button" onclick="window.location.href='/';">Back to Home</button>
    </div>
</body>

</html>