<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Comments</title>
    <link rel="stylesheet" href="../style/PostPage.css">
</head>

<body>
    <div class="comment_container">
        {{range .}}
        <div class="one_comment">
            <h4>by {{.Comment_writer}}</h4>
            <p>{{.Comment_body}}</p>
            <sub><span>{{.Comment_time}}</span> ago </sub>
            <h1>ID : {{.Post_commented_id}}</h1>
            <div>
                <form action="/Likes?user_id={{.Curr_commenter_id}}&user={{.Curr_commenter}}&comment_id={{.Comment_id}}&postid={{.Post_commented_id}}"
                    method="post">
                    <label>Likes:</label>
                    <button type="submit" class="react" name="reaction" value="likeComment">
                        {{.Comment_likes_count}} </button>
                </form>
                <form
                    action="/Dislikes?user_id={{.Curr_commenter_id}}&user={{.Curr_commenter}}&comment_id={{.Comment_id}}&postid={{.Post_commented_id}}"
                    method="post">
                    <label>Dislikes:</label>
                    <button type="submit" class="react" name="reaction"
                        value="dislike">{{.Comment_dislikes_count}}</button>

                </form>
            </div>
        </div>
        {{end}}
    </div>
    <script>
        const Forms = document.querySelectorAll(".comment_container form")
        // const likes = document.querySelectorAll(".reactions-container input[id='postidValue']")
        let postid;
        let commentid;
        // console.log("postid : ", postid)
        Forms.forEach(Form => {
            Form.addEventListener("submit", (e) => {
                e.preventDefault()
                const path = e.currentTarget.getAttribute("action")
                params = path.split("?")
                console.log("params : ", params)
                const Queries = new URLSearchParams(params[1])
                postid = Queries.get("post_id")
                commentid = Queries.get("comment_id")
                console.log("postid : ", postid)
                console.log("commentid : ", commentid)
                const formData = new FormData(e.currentTarget)
                fetch(params[0] + "?" + params[1], {
                    method: "post",
                    body: formData
                })
                let LikesButton = e.currentTarget.querySelector(".react")
                // let DislikesButtons = e.currentTarget.querySelector(".react value='dislike'")
                let likesCounter = parseInt(LikesButton.innerHTML) || 0
                // console.log("LikesCounter ==>", LikesCounter)
                // console.log("postid in fetch : ", postid)
                path1 = "/api/likes?comment_id=" + commentid
                fetch(path1)
                    .then(response => {
                        return response.json()
                    })
                    .then(data => {
                        console.log("LikeCount ==>", data.LikeComment)
                        likesCounter = parseInt(data.LikeComment) || 0
                        LikesButton.innerHTML = data.LikeComment
                        LikesButton.style.color = "green"
                    })
                    .catch(err => console.log("err :", err))
            })
        })
    </script>
</body>

</html>