<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Comments</title>
    <link rel="stylesheet" href="../style/PostPage.css">
    <script type="module" src=""></script>
</head>

<body style="background-color: aliceblue;">
    <header class="name">
        <div class="header">
            Hello Mr {{.CurrentUser}}
            <form action="/logout" method="post">
                <button type="submit" class="bttn">Log Out</button>
            </form>
        </div>
        <br>
    </header>
    <br>
    <a href="/forum"><button class="bttn">Return</button></a>
    <div class="post_content">
        <br>
        <!-- <h1>Title: {{.Title}}</h1>
        <h2>Body: {{.Body}}</h2>
        <h3>POST ID: {{.Post_Id}}</h3>
        <sub>written by: {{.Post_writer}}</sub>
        <br> -->
        <div class="user_info">
            <img src="/style/programmer.png" alt="{{.Post_writer}}">
            <h2>{{.Post_writer}}</h2>
        </div>
        <h1>Title: {{.Title}}</h1>
        <p> content : {{.Body}}</p>
    </div>
    <div class="comment_container">
        {{if not .Comments}}
        <h1 >No Comments Available on this post !</h1>
        {{end}}
        {{range .Comments}}
        <div class="one_comment">
            <h4>
            <img src="/style/programmer.png" alt="{{.Comment_writer}}">
                 {{.Comment_writer}}</h4>
            <p>{{.Comment_body}}</p>
            <sub><span>{{.Comment_time}}</span> ago </sub>
            <div class="reaction_section">
            <input id="commentidvalue" type="hidden" name="commentid" value="{{.Comment_id}}">
                <!-- Likes Form -->
                <form action="/CommentsLikes?post_id={{.Post_commented_id}}&user={{.Curr_commenter}}&comment_id={{.Comment_id}}"
                    method="post"
                    id="Comment_Like">
                    <label>👍</label>
                    <button type="submit" class="react" name="reaction" value="likeComment">
                        {{.Comment_likes_count}}
                    </button>
                </form>

                <!-- Dislikes Form -->
                <form
                    action="/CommentsDisLikes?post_id={{.Post_commented_id}}&user={{.Curr_commenter}}&comment_id={{.Comment_id}}"
                    method="post"
                    id="Comment_Dislike">
                    <label>👎</label>
                    <button type="submit" class="react" name="reaction" value="dislike">
                        {{.Comment_dislikes_count}}
                    </button>
                </form>
            </div>
        </div>
        {{end}}
        <a href="/forum"><button class="bttn">Return</button></a>
    </div>
</body>

<script>
    const Forms = document.querySelectorAll('.reaction_section form')
    Forms.forEach((CurrForm) => {
        CurrForm.addEventListener('submit',async (event) =>{
            event.preventDefault()
            const ActionPath = event.currentTarget.getAttribute('action')
            const Comment_id = event.currentTarget.parentElement.querySelector('input').value
            const choice = event.currentTarget.getAttribute('id')
            const button = event.currentTarget.querySelector('button')
            let previouslike = button.textContent
            console.log(previouslike);
            
            let TheOtherButton = ""
            if (choice == "Comment_Like") {
                TheOtherButton = event.currentTarget.parentElement.querySelector('#Comment_Dislike').querySelector('button')
            }else {
                TheOtherButton = event.currentTarget.parentElement.querySelector('#Comment_Like').querySelector('button')
            }
            // console.log(ActionPath, Comment_id)
            try {
                await fetch(ActionPath,{
                    method: "POST",
                })
                const ApiPath = `/api/likes?comment_id=${Comment_id}`;
                const response = await getdata(ApiPath)
                const likeCount = response.LikeCount
                const DislikeCount = response.DislikeCount;
                if (choice == "Comment_Like"){
                    button.textContent = likeCount;
                    TheOtherButton.textContent = DislikeCount
                }else if (choice == "Comment_Dislike") {
                    button.textContent = DislikeCount;
                    TheOtherButton.textContent = likeCount
                }
            } catch (error) {
                console.log("Error while reaction with commments", error)
            }
        })
    })

    async function getdata(ApiPath) {
        try {
            const res = await fetch(ApiPath)
            if (!res.ok) {
                throw new Error(res.statusText)
            }
            const json = await res.json()
            if(json.error) {
                throw new Error(json.error)
            }
            console.log(json);
            
            return json
        } catch (error) {
            alert("There somethin wrong")
            throw error
        }
    }
</script>

</html>