<!DOCTYPE html>
<html lang="en">

<head>
    <noscript>
        <strong style="color: red;">
            You Disable JS please refreach the page to continue
        </strong>
        <meta http-equiv="refresh" content="5; url=/NoJs">
    </noscript>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Comments</title>
    <link rel="stylesheet" href="../style/PostPage.css">
    <link rel="icon" type="image/png" sizes="40x40" href="/style/icon.png.png">
    <script type="module" src="../style/js/forum.js"></script>
</head>

<body style="background-color: aliceblue;">
    <header>
        <div class="user">
            <h2>User : {{.CurrentUser}}</h2>
            <!-- <img src="/style/programmer.png" alt="{{.CurrentUser}}"> -->
            <form action="/logout" method="post">
                <button id="logout" type="submit" class="bttn">Log Out</button>
            </form>
            <a href="/forum"><button class="bttn">Return</button></a>
        </div>
        <br>
    </header>
    <br>
    <div class="postcontainer">
        <br>
        <div class="user_info">
            <img src="/style/programmer.png" alt="{{.Post_writer}}">
            <h2>{{.Post_writer}}</h2>
        </div>
        <pre>Title: {{.Title}}</pre>
        <pre> content : {{.Body}}</pre>
    </div>
    <div class="comment_container">
        {{if not .Comments}}
        <h1>No Comments Available on this post !</h1>
        {{end}}
        {{range .Comments}}
        <div class="one_comment">
            <h4>
                <img src="/style/programmer.png" alt="{{.Comment_writer}}">
                {{.Comment_writer}}
            </h4>
            <pre>{{.Comment_body}}</pre>
            <sub><span id="temps">{{.Comment_time}}</span> ago </sub>
            <div class="reaction_section">
                <br>
                <!-- <input id="commentidvalue" type="hidden" name="commentid" value="{{.Comment_id}}"> -->
                <form
                    action="/CommentsLikes?comment_id={{.Comment_id}}"
                    method="post" id="Comment_Like">
                    <button type="submit" class="react" name="reaction" value="likeComment">👍
                        {{.Comment_likes_count}}</button>
                </form>
                <form
                    action="/CommentsDisLikes?comment_id={{.Comment_id}}"
                    method="post" id="Comment_Dislike">
                    <button type="submit" class="react" name="reaction" value="dislike">👎
                        {{.Comment_dislikes_count}}</button>
                </form>
            </div>
        </div>
        {{end}}
        <div class="pn">
            <button id="prev" class="sidebarbtn">Previous</button>
            <button id="next" class="sidebarbtn">Next</button>
        </div>
    </div>
    <a href="/forum"><button class="bttn">Return</button></a>
    <footer class="footer">
        <p>&copy; 2024 Your Website. All rights reserved.</p>
        <p>
            Github :
        </p>
        <div class="href">
            <a href="https://github.com/aouchcha">Achraf Ouchchat</a> |
            <a href="https://github.com/ItCHIRO29">Ismail ICHI</a>
            | <a href="https://github.com/hadogen/">Yahya Houssaini</a>
            | <a href="https://github.com/maynaou/">Mouhssine AYNAOU</a>
        </div>
    </footer>
</body>

<script type="module">
    import {getCookie,FetchCommentsReactions, timeAffi } from "../style/js/forum.js";
    const next = document.querySelector('#next')
    const prev = document.querySelector('#prev')
    
    next.addEventListener('click',  () => {
        let pageindex = `{{ .PageIndex }}`
        let DBL =  `{{.DataLength}}`        
        const url = new URL(location.pathname+location.search,location.origin)
        if (pageindex < DBL) {
            url.searchParams.set("page",parseInt(pageindex)+1)
            const path = url.toString()
            window.location.href = path
        }else {
            alert("No more data to see")
        }
    })

    prev.addEventListener('click',  (e) => {
        e.preventDefault()
        let pageindex = `{{ .PageIndex }}`
        
        const url = new URL(location.pathname+location.search,location.origin)
        if (pageindex > 1) {
            url.searchParams.set("page",parseInt(pageindex)-1)
            const path = url.toString()
            
            window.location.href = path
        }else{
            alert("No more data to see")

        }
        
    })

    const Forms = document.querySelectorAll('.reaction_section form')
    FetchCommentsReactions(Forms)
    //time affichage 
    const times = document.querySelectorAll('#temps');
    times.forEach(ele => ele.innerHTML = timeAffi(ele.textContent));
    const reactions = document.getElementsByClassName("react");
    const username = getCookie("session_token");
    const logoutform = document.querySelector('#logout');

    if (username === 'guest') {
        for (const reaction of reactions) {
            reaction.disabled = true;
        }
        logoutform.innerHTML = "Sign In"
    }
</script>

</html>